<footer>
    <div class="f-info">
        <div class="socials">
             
        </div>
        <div class="brand">&copy; Wanderlust Private Limited</div>
        <div class="links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>